APP_URL=http://YOUR_STATIC_IP

POSTGRES_USER=patients
POSTGRES_PASSWORD=change-this-password
POSTGRES_DB=patients_management

JWT_SECRET=change-this-long-random-secret
JWT_EXPIRES_IN=15m

MOCK_LATENCY_ENABLED=false
MOCK_LATENCY_MIN_MS=200
MOCK_LATENCY_MAX_MS=900
MOCK_FAILURE_RATE=0.05
